body {
    padding-top: 40px;
}

.shadowed {
    box-shadow: 0 5px 30px #999;
}

#sidebar.affix {
    position: fixed;
    top: 60px;
}

@media(max-width:767px){
   #sidebar.affix {
     position: static;
     top: 0;
    }
}

/*
.sidebar {
    margin: 0;
    ba
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    border: 1px solid #000000;
}*/
