@import '../../style/layout.less';
@import '../../style/touch.less';

.buttons() {
    background: #EAEAEA;
    display: block;
    margin: 0.1em 0;
    padding: 0.8em 0.2em;
}

.category {
  background: #DDDDDD;
  margin: 0 0 0.5em 0;

  .collapse {
    .tap-highlight-color(rgba(0, 0, 0, 0));
  }

  .forums a {
    .buttons;
  }

  a {
    text-decoration: none;
  }

  h3 {
    .table-header-gradient;
    color: @orange_d_dark;
    margin: 0;
    padding: 0.5em;
  }
}

.subforums {
  .category;
  .forums {
    display: none;
  }
}

.topics {
  background: #DDDDDD;

  a {
    .buttons;
    padding-right: 36px;
    text-decoration: none;
  }

  a.first_unread {
    background: none;
    padding: 0;
    position: absolute;
    right: 3px;

    img {
      height: 32px;
      vertical-align: middle;
      width: 32px;
    }
  }

  h3 {
    background: #FFFFFF;
    border-bottom: 1px solid #000000;
    padding: 0.4em;
  }

  // combinations of different topic states, any ideas how to make this less
  // redundant?


  .locked {
    background-image: url('../img/locked.png');
    background-position: 15px bottom;
    background-repeat: no-repeat;
  }

  .reported {
    background-image: url('../img/reported.png');
    background-position: 15px bottom;
    background-repeat: no-repeat;
  }

  .solved {
    background-image: url('../img/solved.png');
    background-position: 15px bottom;
    background-repeat: no-repeat;
  }

  .poll {
    background-image: url('../img/poll.png');
    background-position: 15px bottom;
    background-repeat: no-repeat;
  }

  .reported.locked {
    background-image: url('../img/reported.png'),
                      url('../img/locked.png');
    background-position: 15px bottom, 80px bottom;
    background-repeat: no-repeat;
  }

  .reported.solved {
    background-image: url('../img/reported.png'),
                      url('../img/solved.png');
    background-position: 15px bottom, 80px bottom;
    background-repeat: no-repeat;
  }

  .reported.poll {
    background-image: url('../img/reported.png'),
                      url('../img/poll.png');
    background-position: 15px bottom, 80px bottom;
    background-repeat: no-repeat;
  }

  .solved.locked {
    background-image: url('../img/locked.png'),
                      url('../img/solved.png');
    background-position: 15px bottom, 80px bottom;
    background-repeat: no-repeat;
  }

  .solved.poll {
    background-image: url('../img/poll.png'),
                      url('../img/solved.png');
    background-position: 15px bottom, 80px bottom;
    background-repeat: no-repeat;
  }

  .locked.poll {
    background-image: url('../img/poll.png'),
                      url('../img/locked.png');
    background-position: 15px bottom, 80px bottom;
    background-repeat: no-repeat;
  }

  .reported.solved.locked {
    background-image: url('../img/reported.png'),
                      url('../img/locked.png'),
                      url('../img/solved.png');
    background-position: 15px bottom, 80px bottom, 145px bottom;
    background-repeat: no-repeat;
  }

  .reported.solved.poll {
    background-image: url('../img/reported.png'),
                      url('../img/poll.png'),
                      url('../img/solved.png');
    background-position: 15px bottom, 80px bottom, 145px bottom;
    background-repeat: no-repeat;
  }

  .reported.locked.poll {
    background-image: url('../img/reported.png'),
                      url('../img/poll.png'),
                      url('../img/locked.png');
    background-position: 15px bottom, 80px bottom, 145px bottom;
    background-repeat: no-repeat;
  }

  .solved.locked.poll {
    background-image: url('../img/poll.png'),
                      url('../img/locked.png'),
                      url('../img/solved.png');
    background-position: 15px bottom, 80px bottom, 145px bottom;
    background-repeat: no-repeat;
  }

  .solved.locked.reported.poll {
    background-image: url('../img/reported.png'),
                      url('../img/poll.png'),
                      url('../img/locked.png'),
                      url('../img/solved.png');
    background-position: 15px bottom, 80px bottom, 145px bottom, 210px bottom;
    background-repeat: no-repeat;
  }

  .sticky {
    background: @red_d_light url('../img/sticky.png') 15px bottom no-repeat !important;
  }

  .hidden {
    color: #BABABA;
  }

  .unread {
  }
}

.actions {
  background: @orange_s_dark;
  clear: left;
  font-size: 20px;
  line-height: 48px;
  min-height: 48px;
  text-align: center;

  a {
    background: @orange_s_dark - 20;
    color: #FFFFFF;
    display: inline-block;
    height: 48px;
    padding: 0 0.5em;
    text-decoration: none;
  }
}
