development_settings.py
*.pyo
*.pyc
.DS_Store
inyoka.xapdb/
inyoka/media/
DJANGO_SETTINGS_MODULE
.venv
.venv_hook
.python_was_built
*.min.js
inyoka/static/*.css
*.swo
*.swp
*.orig
*~
database.db
bootstrap.py
