!.coveragerc
!.tx/config

*_settings.py
*.py[co]
inyoka.xapdb/
inyoka/media/
inyoka/static/
inyoka/static-collected/
*.db
tests/settings/custom.py
celerybeat-schedule
htmlcov/
.coverage
node_modules/
allure-results
bdd_screenshots
