!.coveragerc
!.tx/config

*_settings.py
*.py[co]
.DS_Store
inyoka.xapdb/
inyoka/media/
node_modules/
inyoka/static-collected/
DJANGO_SETTINGS_MODULE
.venv
.venv_hook
.python_was_built
*.min.js
inyoka/static/style/*.css
inyoka/*/static/*/style/*.css
*-sprite*.png
*-sprite*.less
*.db
bootstrap.py

## Editor / IDE specific ignores
*~

# vim
*.sw[op]
*.orig

# sublime
*.sublime-project
*.sublime-workspace

# eclipse
.settings
.buildpath
.project
.pydevproject
