.syntax{background:#f0f0f0;}
.syntax .c{color:#60a0b0;font-style:italic;}
.syntax .err{border:1px solid #FF0000;}
.syntax .k{color:#007020;font-weight:bold;}
.syntax .o{color:#666666;}
.syntax .cm{color:#60a0b0;font-style:italic;}
.syntax .cp{color:#007020;}
.syntax .c1{color:#60a0b0;font-style:italic;}
.syntax .cs{color:#60a0b0;background-color:#fff0f0;}
.syntax .gd{color:#A00000;}
.syntax .ge{font-style:italic;}
.syntax .gr{color:#FF0000;}
.syntax .gh{color:#000080;font-weight:bold;}
.syntax .gi{color:#00A000;}
.syntax .go{color:#808080;}
.syntax .gp{color:#c65d09;font-weight:bold;}
.syntax .gs{font-weight:bold;}
.syntax .gu{color:#800080;font-weight:bold;}
.syntax .gt{color:#0040D0;}
.syntax .kc{color:#007020;font-weight:bold;}
.syntax .kd{color:#007020;font-weight:bold;}
.syntax .kp{color:#007020;}
.syntax .kr{color:#007020;font-weight:bold;}
.syntax .kt{color:#902000;}
.syntax .m{color:#40a070;}
.syntax .s{color:#4070a0;}
.syntax .na{color:#4070a0;}
.syntax .nb{color:#007020;}
.syntax .nc{color:#0e84b5;font-weight:bold;}
.syntax .no{color:#60add5;}
.syntax .nd{color:#555555;font-weight:bold;}
.syntax .ni{color:#d55537;font-weight:bold;}
.syntax .ne{color:#007020;}
.syntax .nf{color:#06287e;}
.syntax .nl{color:#002070;font-weight:bold;}
.syntax .nn{color:#0e84b5;font-weight:bold;}
.syntax .nt{color:#062873;font-weight:bold;}
.syntax .nv{color:#bb60d5;}
.syntax .ow{color:#007020;font-weight:bold;}
.syntax .w{color:#bbbbbb;}
.syntax .mf{color:#40a070;}
.syntax .mh{color:#40a070;}
.syntax .mi{color:#40a070;}
.syntax .mo{color:#40a070;}
.syntax .sb{color:#4070a0;}
.syntax .sc{color:#4070a0;}
.syntax .sd{color:#4070a0;font-style:italic;}
.syntax .s2{color:#4070a0;}
.syntax .se{color:#4070a0;font-weight:bold;}
.syntax .sh{color:#4070a0;}
.syntax .si{color:#70a0d0;font-style:italic;}
.syntax .sx{color:#c65d09;}
.syntax .sr{color:#235388;}
.syntax .s1{color:#4070a0;}
.syntax .ss{color:#517918;}
.syntax .bp{color:#007020;}
.syntax .vc{color:#bb60d5;}
.syntax .vg{color:#bb60d5;}
.syntax .vi{color:#bb60d5;}
.syntax .il{color:#40a070;}
