.navi_sidebar .navi_about_ikhaya{background-image:url('../img/icons/ikhaya_sb.png');}
.navi_sidebar .navi_new_article{background-image:url('../img/icons/new_article.png');}
.navi_sidebar .navi_archive{background-image:url('../img/icons/archive.png');}
.navi_sidebar .navi_categories{background-image:url('../img/icons/categories.png');}
.navi_sidebar .navi_full_articles{background-image:url('../img/icons/ikhaya_sb.png');}
ul.articles{list-style-type:none;padding:0;margin:0;}
.article{margin-bottom:0.7em;}.article hr{clear:right;}
.article div.text{margin:0 0.5em;}
.article .image-right{float:right;clear:none !important;}
.article .image-left{clear:none !important;float:left;}
h2,h3,h4{color:#444;}
h2,h3{border-bottom:1px solid #e0c99d;}
h3.title{margin:0.3em 0 0.3em 0em;padding-left:0.4em;}h3.title a{color:#673B1A;text-decoration:none;}
p{margin-bottom:0.5em;}
div.intro{margin:0 1.5em;font-style:italic;}
p.meta{color:#666;font-size:0.9em;margin:0.5em 0 0 0 !important;padding:0.4em;border-top:1px solid #d4d4d4;overflow:auto;clear:right;}
img.icon{float:right;clear:right;max-width:200px;max-height:120px;margin:0px 0px 10px 10px;}
a.show_comments,a.hide_comments{display:block;padding:1em;text-align:center;background-color:#eee;letter-spacing:0.2em;text-decoration:none;color:#444;border-top:1px solid #ccc;font-weight:bold;}
a.show_comments:hover,a.hide_comments:hover{text-decoration:underline;}
table.comments{table-layout:fixed;margin:0;border:0;clear:right;width:97% !important;}table.comments tr.deleted{text-align:center;background-color:#eee;color:#444;font-style:italic;}
table.comments td.author{vertical-align:top;background:#eeeeee;border-right:1px solid #cccccc;width:150px;}table.comments td.author p{margin:2px 0 5px 0;font-size:0.8em;text-align:left;}
table.comments td.author p.username{position:relative;}table.comments td.author p.username a{margin:3px 0 10px 0;font-size:1.1em;color:black;font-weight:bold;text-decoration:none;}
table.comments td.author p.username.inactive a{color:#444;text-decoration:line-through;}
table.comments td.author img.avatar{margin:10px 0 0 0;}
table.comments td.author img.teamicon{position:absolute;top:0px;right:0px;}
table.comments td.author div.member_title{line-height:1.2em;font-size:0.6em;margin-bottom:10px;}
table.comments td.comment{font-size:0.9em;padding:10px;vertical-align:top;}table.comments td.comment div.text{overflow:auto;}
table.comments td.comment div.commentinfo{background:repeat-x #d9d9d9 url(../img/table-header-alternative.png);background:-webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cacaca));background:-moz-linear-gradient(top, #e0e0e0, #cacaca);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e0e0e0,endColorstr=#cacaca);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e0e0e0, endColorstr=#cacaca)";font-size:0.9em;margin:-10px -10px 10px -10px;padding:6px 10px;border-bottom:1px solid #CCC;}
table.comments td.comment div.signature{margin:20px 0 -5px 0;padding:5px 0 0 0;border-top:1px solid #AAA;color:#666;font-size:.9em;line-height:140%;}table.comments td.comment div.signature p{padding:0 0 5px 0;margin:0;}
table.comments td.comment div.signature a{color:#666;}
table.comments td.comment div.linklist{float:right;}
table.comments tr:target td.comment div.commentinfo{background:repeat-x #f7eb95 url(../img/table-header-alternative-target.png);background:-webkit-gradient(linear, left top, left bottom, from(#f9f1bd), to(#f7eb95));background:-moz-linear-gradient(top, #f9f1bd, #f7eb95);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9f1bd,endColorstr=#f7eb95);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9f1bd, endColorstr=#f7eb95)";}
.action{background-repeat:no-repeat;padding-left:20px;}
.action_unsubscribe,.action_subscribe{float:right;margin-left:10px;background-image:url('../img/forum/subscribe.png');}
.action_unsubscribe:after,.action_subscribe:after{clear:both;}
.action_restore{background-image:url('../img/forum/restore.png');}
.action_report{float:right;background-image:url('../img/forum/report.png');}
.action_solve{background-image:url('../img/forum/solve.png');}
.action_unsolve{background-image:url('../img/forum/unsolve.png');}
.action_delete{background-image:url('../img/forum/delete.png');}
.action_hide{background-image:url('../img/forum/hide.png');}
.action_edit{background-image:url('../img/forum/comment_edit.png');}
.action_quote{background-image:url('../img/forum/quote.png');}
a.comment_link:hover{background-color:#222;color:#fff !important;}
.tooltip{background-color:#F9F9F9;border:1px solid #222;padding:0.5em;margin:0 4em 0 0;}
div.box{clear:none !important;}
div.suggestionlist div.article{border:1px solid #ccc;padding:1em;}
div.report{border:1px solid #CCC;margin:0 0 0.5em 0;}div.report .report_header{background:repeat-x #d9d9d9 url(../img/table-header-alternative.png);background:-webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cacaca));background:-moz-linear-gradient(top, #e0e0e0, #cacaca);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e0e0e0,endColorstr=#cacaca);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e0e0e0, endColorstr=#cacaca)";padding:0.2em;}
div.report .text{padding:0 0.2em;}
div.solved .report_header{background:repeat-x #c4ebc4 url(../img/table-header-alternative-solved.png);background:-webkit-gradient(linear, left top, left bottom, from(#cfefcf), to(#ace3ac));background:-moz-linear-gradient(top, #cfefcf, #ace3ac);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cfefcf,endColorstr=#ace3ac);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cfefcf, endColorstr=#ace3ac)";}
div.report:target .report_header{background:repeat-x #f7eb95 url(../img/table-header-alternative-target.png);background:-webkit-gradient(linear, left top, left bottom, from(#f9f1bd), to(#f7eb95));background:-moz-linear-gradient(top, #f9f1bd, #f7eb95);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9f1bd,endColorstr=#f7eb95);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9f1bd, endColorstr=#f7eb95)";}
table.events td.actions,table.events td.date,table.events td.author{margin-top:.2em;text-align:center;}
a.event_edit,a.event_copy,a.event_delete{padding-right:20px;margin-left:5px;background:no-repeat left center;}
a.event_edit{background-image:url(../img/icons/edit.png);}
a.event_copy{background-image:url(../img/icons/copy.png);}
a.event_delete{background-image:url(../img/icons/delete.png);}
div.preview_wrapper{margin:20px;padding:15px;border:1px solid #ccc;}div.preview_wrapper h2.title{padding-bottom:10px;}
