:link.missing,:visited.missing{color:#999 !important;}
a.interwiki{background-repeat:no-repeat;}
a.user,a.team,a.search{background-repeat:no-repeat;padding-left:16px;}
a.user{background-image:url(../img/interwiki/user.png);}
a.team{background-image:url(../img/interwiki/team.png);color:#597A00;}
a.search{background-image:url(../img/interwiki/search.png);}
a.interwiki-bug{background-image:url(../img/interwiki/bug.png);padding-left:20px;}
a.interwiki-getdeb{background-image:url(../img/interwiki/getdeb.png);padding-left:20px;}
a.interwiki-googlecode{background-image:url(../img/interwiki/googlecode.png);padding-left:20px;}
a.interwiki-isbn{background-image:url(../img/interwiki/isbn.png);padding-left:20px;}
a.interwiki-launchpad{background-image:url(../img/interwiki/launchpad.png);padding-left:20px;}
a.interwiki-lpuser{background-image:url(../img/interwiki/lpuser.png);padding-left:20px;}
a.interwiki-sourceforge{background-image:url(../img/interwiki/sourceforge.png);padding-left:20px;}
a.interwiki-ubuntu{background-image:url(../img/interwiki/ubuntu.png);padding-left:20px;}
a.interwiki-wikipedia{background-image:url(../img/interwiki/wikipedia.png);padding-left:20px;}
a.interwiki-wikipedia_en{background-image:url(../img/interwiki/wikipedia_en.png);padding-left:20px;}
#page table{width:auto;margin:1em;}
#page table td,#page table th{border-width:1px;}
span.underline{text-decoration:underline;}
.image-left,.image-right,.image-center{margin:1.5em 1em 0;}
.image-right{float:right;clear:right;}
.image-left{clear:left;float:left;}
.image-center{display:block;margin-left:auto;margin-right:auto;}
div.bash{color:white;font-family:monospace;background-color:#454545;border:1px solid #666;margin:0.3em 1em;clear:none;overflow:auto;}div.bash pre{background-color:transparent;border:0;margin:0;padding:0 0.3em;}div.bash pre .highlighted{background-color:#ffee33;color:#454545;}
div.bash pre+pre{border-top:0 none;margin-top:-0.3em;}
div.box{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:0.5em 0em;border:1px solid #bbb;clear:none;overflow:auto;}div.box div.contents{padding:0.5em 1em;}
div.box h3{-moz-border-radius:3px 3px 0px 0px;-webkit-border-radius:3px 3px 0px 0px;border-radius:3px 3px 0px 0px;margin:0;font-size:0.9em;font-weight:bold;color:white;background-color:#bbb;padding:0 1em;}
div.improvable{border:1px solid #73A76F;}div.improvable h3{background-color:#73A76F;}
div.fixme{border:1px solid #D40000;}div.fixme h3{background-color:#D40000;}
div.advanced{border:1px solid #708090;}div.advanced h3{background-color:#708090;}
div.tested_for{border:1px solid #4A9596;}div.tested_for h3{background-color:#4A9596;}
div.left{border:1px solid #3E6E58;}div.left h3{background-color:#3E6E58;}
div.warning{border:1px solid #d40000;}div.warning h3{background-color:#d40000;}
div.warning_important{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #d40000;background-color:#D40000;color:white;font-weight:bold;margin:0px auto 20px auto;position:relative;text-align:center;width:75%;}div.warning_important a{color:white;}
div.experts{border:1px solid #666;}div.experts h3{background-color:#666;}
div.knowledge{border:1px solid #d7b97b;}div.knowledge h3{background-color:#d7b97b;}
div.knowledge .contents{margin-left:15px;}
div.knowledge .anchor{background-image:none;}
div.workinprogress{border:1px solid #3F7DB1;}div.workinprogress h3{background-color:#3F7DB1;}
.toc{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;float:right;margin:0 0 1.5em 1.5em;padding:.5em;border:1px solid #d7b97b;background-image:url(../img/wiki/toc.png);background-color:#fff;background-position:top right;background-repeat:no-repeat;font-size:0.9em;width:40ex;}.toc .head{text-align:right;font-weight:bold;}
.toc .head>ol{margin-top:1.8em;}
.toc li{text-align:left;}
.toc a{color:#3B2800;}
.toc a.toctoggle,.toc .head a{text-decoration:none;}
.key{display:inline;border-width:0.2em;border-style:solid;border-color:#ddd #bbb #bbb #ddd;background-color:#eee;padding:0.1em 0.4em;font-size:0.8em;white-space:pre;}.key *{display:inline;}
.headerlink{display:none;margin:0 0 0 0.2em;text-decoration:none;color:#999;}
h1:hover *,h2:hover *,h3:hover *,h4:hover *,h5:hover *,h6:hover *{display:inline;}
.anchor{float:right;width:16px;height:16px;background-image:url(../img/anchor.png);}
.highlighted{background-color:#ffee33;}
div.edited{border:1px solid #597A00;padding:0.4em;font-size:0.8em;}div.edited strong{color:#597A00;}
div.moderated{border:1px solid #cc7777;padding:0.4em;font-size:0.8em;}div.moderated strong{color:#aa3333;}
div.moderated p,div.edited p{margin:0;}
pre{padding:0.5em;}
body{font-family:sans-serif;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin-top:1em;margin-bottom:0.2em;}
a{color:#a87300;}a:link{color:#a87300;}
a:visited{color:#543a00;}
blockquote{border-left:3px solid #888888;color:#888888;font-style:italic;margin:0.5em 0 0.5em 0.5em;padding:0 0 0 0.3em;}
img{max-width:100% !important;height:auto;}
pre{background:#EEEEEE;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;}
header{display:block;margin:0;padding:0;}header nav{background-size:auto 48px;background:#a87300 url('../img/head.m.jpg') repeat-x;display:block;height:48px;line-height:48px;}header nav a{color:#FFFFFF;display:block;height:48px;margin:0 2px;padding:0 5px;text-decoration:none;text-shadow:1px 1px 1px #000000;top:50%;vertical-align:middle;}header nav a:visited,header nav a:link{color:#FFFFFF;text-decoration:none;}
header nav a.toggle_menu{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);float:right;}header nav a.toggle_menu img{height:24px;padding:11px 0;width:25px;}
#top_menu{background:#333333;color:#FFFFFF;display:none;margin:0;text-decoration:none;text-shadow:1px 1px 1px #000000;}#top_menu .button{-webkit-tap-highlight-color:#333333;background:#444444;color:#FFFFFF;display:block;font-weight:bold;height:32px;padding:0.8em 0.2em;text-decoration:none;text-shadow:1px 1px 1px #000000;}#top_menu .button:not(:first-child){margin:0.1em 0;}
#top_menu .button.active{background:#333333;}
#top_menu .button div.title{height:32px;left:3em;line-height:32px;position:absolute;right:1em;}
#top_menu .button img.icon{height:32px;position:absolute;width:32px;}
#top_menu .search input{background:#DDDDDD;border:1px solid #000000;font-size:16px;height:32px;width:100%;}
#top_menu .separator{background:#555555;font-size:10px;font-weight:bold;padding:0.4em;}
#content{padding:0;}#content textarea{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
#content p{margin-top:0;text-align:justify;}
#content li p{margin-bottom:0.25em;text-align:left;}
.pagination{margin:8px 32px;text-align:center;}.pagination a{text-decoration:none;}
.pagination .comma,.pagination .pageselect,.pagination .ellipsis{display:none;}
.pagination .active{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#ffeabd;border:1px solid #544d3e;color:#543a00;display:inline-block;height:32px;line-height:32px;margin:0.1em 0.2em;padding:0 0.5em;}
.pagination .next{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#ffeabd;border:1px solid #544d3e;color:#543a00;display:inline-block;height:32px;line-height:32px;margin:0.1em 0.2em;padding:0 0.5em;position:absolute;right:2em;}
.pagination .prev{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#ffeabd;border:1px solid #544d3e;color:#543a00;display:inline-block;height:32px;line-height:32px;margin:0.1em 0.2em;padding:0 0.5em;left:2em;position:absolute;}
.pagination .first{left:0 !important;}
.pagination .last{right:0 !important;}
div.actions{clear:left;line-height:48px;min-height:48px;text-align:center;margin:1em 0;}div.actions a,div.actions input{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:rgba(168, 115, 0, 0.19999999999999996);border:1px solid #a87300;color:#000000;display:inline-block;font-size:18px;font-weight:normal !important;height:48px;padding:0 0.5em;text-decoration:none;}
div.code{font-size:10px;}div.code table{table-layout:fixed;width:100%;}div.code table td.linenos{width:20px;}
div.code table td.code{background:#EEEEEE;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;}
footer{border-top:1px solid #848484;color:#333333;font-size:10px;margin:0.5em 0 0.3em;padding:0.5em 0.1em;text-align:center;clear:both;}footer .flavour_switch{font-size:18px;}
