.navi_sidebar .navi_planet{background-image:url('../img/icons/planet.png');}
.navi_sidebar .navi_blogs{background-image:url('../img/icons/blogs.png');}
div.articles .day h2{font-size:2.4em;margin:0;}
div.articles div.article{margin:1.5em 0 1.5em 0;padding:1px 0 0 0;}div.articles div.article div.contents{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:1px solid #DDD;}div.articles div.article div.contents div.post .hidden{color:#ccc;}
div.articles div.article div.head{background:url(../img/planet/bubble-nipple.png) no-repeat 120px bottom;position:relative;top:2px;height:110px;}div.articles div.article div.head img{float:left;margin-left:30px;}
div.articles div.article div.head p{margin-left:160px;}div.articles div.article div.head p a{color:#888;text-decoration:none;}
div.articles div.article div.head h3{margin:0 0 0 160px;font-size:1.6em;font-weight:normal;line-height:1em;}div.articles div.article div.head h3 a{color:black;text-decoration:none;}
div.articles div.article div.head h3 a.headerlink{color:#999;}
div.articles div.article div.text{padding:10px 30px 0 30px;}div.articles div.article div.text h1{font-size:1.8em;}
div.articles div.article div.text h2{font-size:1.5em;}
div.articles div.article div.text h3{font-size:1.3em;}div.articles div.article div.text h3 .note{font-size:0.7em;padding-left:0px;}
div.articles div.article div.text h4{font-size:1.1em;}
div.articles div.article div.text img{max-width:100% !important;height:auto;}
div.articles div.article div.post{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;background:#F8F8F8;border:1px solid #BFBFBF;}div.articles div.article div.post img.uu-float{float:right;margin-left:0.6em;}
div.articles div.article p{margin:0;padding:0.5em 0.5em 0.5em 0;}
div.articles div.article p.easy-navigation{text-align:right;margin-right:25px;padding-bottom:10px;}
div.articles div.article div.meta{margin-right:20px;clear:right;}div.articles div.article div.meta p{text-align:right;font-size:0.9em;padding:10px 10px 20px 0;}div.articles div.article div.meta p a{text-decoration:none;}
div.articles div.article div.meta p a:hover{text-decoration:underline;}
.newestarticles h2{font-size:1.1em;}
.newestarticles ul:last-child{padding-left:0;margin-left:0;line-height:150%;}.newestarticles ul:last-child li{display:inline;padding-left:0;margin-left:0;}
.newestarticles ul li::before{content:" | ";color:#CCC;}
.newestarticles ul li:first-child::before{content:"";}
table tbody tr.not_published,table tbody tr.not_published a{color:#aaa;}
