Jinja2==2.6
Babel==0.9.6
Werkzeug==0.8.1
Pygments==1.4
simplejson==2.2.1
pytz==2010o
html5lib==0.90
feedparser==5.0.1
Fabric==1.2.2
South==0.7.3
python-openid==2.2.5
django-sentry==1.8.5
django-mobile==0.2.1
celery==2.4.0
django-kombu==0.9.4
django-celery==2.4.0
django-hosts==0.2
requests==0.6.6
https://github.com/alex/django-filter/tarball/master/#egg=django-filter
https://github.com/simonw/django-openid/tarball/master#egg=django-openid
# Because of http://south.aeracode.org/ticket/747 that is already fixed in trunk
hg+https://bitbucket.org/andrewgodwin/south#egg=django-south
# To have proper tests.models support and fixture bundling
https://github.com/jbalogh/django-nose/tarball/master#egg=django-nose
lxml
#Django 1.4 dependency
http://www.djangoproject.com/download/1.4-alpha-1/tarball/
