{% extends 'ikhaya/base.html' %}

{% block breadcrumb %}
  <li class="active">{% trans %}News{% endtrans %}</li>
{% endblock %}

{% block content %}
  {{ pagination.generate() }}
  {% for article in articles %}
    <div class="panel panel-default post" id="article-{{ article.id }}">
      <div class="panel-heading">
        <a href="{{ article|url }}">{{ article.subject }}</a>
      </div>
      <div class="panel-body">
        {{ article.rendered_intro }}
      </div>
      <div class="panel-footer text-muted">
        <small>
          <div class="pull-left">
            {{ article.pub_datetime|datetimeformat }}
          </div>
          <div class="text-right hidden-xs">
            {% trans %}Category:{% endtrans %}
            <a href="{{ article.category|url }}">{{ article.category.name|e }}</a>
          </div>
          {% if article.updated > article.pub_datetime %}
            <div class="hidden-xs hidden-sm">
              {% trans %}Last update:{% endtrans %} {{ article.updated|datetimeformat }}
            </div>
          {% endif %}
          <div class="cle
          arfix"></div>
        </small>
      </div>
    </div>
  {% endfor %}
  {{ pagination.generate() }}
{% endblock %}