#latest_articles ul{list-style:none;padding-left:0px;}#latest_articles ul li a{background:#EEEEEE;display:block;margin:0.2em 0;padding:0.4em 0.1em;}
#content{margin:0 0.75em;}
a .button{background:#EAEAEA;display:block;margin:0.1em 0;padding:0.8em 0.2em;}
.meta{font-size:0.6em;}
.text{padding:4px 2px 8px;}.text p{margin:0.4em 0;}
