{% extends 'forum/base.html' %}
{% import 'macros.html' as macros %}

{% block breadcrumb %}
  <li><a href="{{ href('forum') }}">{% block trans %}Forum{% endblock %}</a></li>
  {% if topic.forum.parent.parent %}
    <li>…</li>
  {% endif %}
  <li><a href="{{ topic.forum|url }}">{{ topic.forum }}</a></li>
  <li class="active">{{ topic }}</li>
{% endblock %}

{% block sidebar %}
  <ul class="list-group">
    {{ macros.sidebar_item(gettext('Reply'), topic|url('reply')) }}
    {% if is_subscribed %}
      {{ macros.sidebar_item(gettext('Unsubscribe'), topic|url('unsubscribe')) }}
    {% else %}
      {{ macros.sidebar_item(gettext('Subscribe'), topic|url('subscribe')) }}
    {% endif %}
    {% if topic.solved %}
      {{ macros.sidebar_item(gettext('Mark as unsolved'), topic|url('unsolve')) }}
    {% else %}
      {{ macros.sidebar_item(gettext('Mark as solved'), topic|url('solve')) }}
    {% endif %}
    {{ macros.sidebar_item(gettext('Report'), topic|url('report')) }}
  </ul>
{% endblock %}

{% block content %}
  {{ pagination.generate() }}
  {% for post in posts %}
    <div class="panel panel-default post{% if post.hidden %} muted{% endif %}" id="post-{{ post.id }}">
      <div class="panel-heading">
        <a href="{{ post.author|url }}">{{ post.author }}</a>
        <span class="pull-right">
          <a href="{{ post|url }}">
            <time datetime="{{ post.pub_date|datetime('c') }}">{{ post.pub_date|datetime }}</time>
          </a>
        </span>
      </div>
      <div class="panel-body">
        {{ post.get_text() }}
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-sm"{% if topic.locked %} data-toggle="tooltip" data-placement="right"
             title="{% trans %}The topic is locked{% endtrans %}"{% endif %}>
          <a href="{{ post|url('quote') }}" class="btn btn-default{% if topic.locked %} disabled{% endif %}">
            {% trans %}Quote{% endtrans %}
          </a>
          {% if can_edit(post) %}
            <a href="{{ post|url('edit') }}" class="btn btn-primary{% if topic.locked %} disabled{% endif %}">
              {% trans %}Edit{% endtrans %}</a>
          {% endif %}
        </div>
        {% if can_moderate %}
          <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              {% trans %}More{% endtrans %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">{% trans %}Edit{% endtrans %}</a></li>
              {% if post.hidden %}
                <li><a href="#">{% trans %}Restore{% endtrans %}</a></li>
              {% else %}
                <li><a href="#">{% trans %}Hide{% endtrans %}</a></li>
              {% endif %}
              {% if can_moderate and topic.locked %}
                <li><a href="{{ post|url('quote') }}">{% trans %}Quote{% endtrans %}</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
        <div class="clearfix"></div>
      </div>
    </div>
  {% endfor %}
  {{ pagination.generate() }}
{% endblock %}