<!DOCTYPE html>
<html>
  {% block head %}
    <head>
      <title>Inyoka</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <link href="{{ href('static', 'css', 'bootstrap.min.css') }}" rel="stylesheet" media="screen">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
  {% endblock %}
  {% block body %}
    <body>
      <div id="main-wrap">
        <div id="main-content">
          <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <a class="navbar-brand" href="{{ href('portal') }}">PAGENAME</a>

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  {# TODO: Apps should register themself, and the template should receive some list of active apps #}
                  {% for app in ('portal', 'forum', 'wiki', 'ikhaya', 'planet') %}
                    <li class="{{ app }}{% if app == active_app %} active{% endif %}">
                      <a href="{{ href(app) }}">{{ app|capitalize }}</a>
                    </li>
                  {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% if USER.is_authenticated() %}
                    <li>
                      <a href="{{ USER|url }}" class="navbar-link hidden-sm"
                         title="{% trans %}My profile{% endtrans %}" data-toggle="tooltip"
                         data-placement="bottom">{{ USER }}</a>
                    </li>
                    <li>
                      <a href="{{ href('portal', 'logout') }}" class="navbar-link"
                         title="{% trans %}Logout{% endtrans %}" data-toggle="tooltip" data-placement="bottom">
                        <span class="glyphicon glyphicon-log-out"></span>
                        {# TODO: Custom visible-xs-inline class to work around this issue: https://github.com/twbs/bootstrap/issues/8869 #}
                        <span class="visible-xs-inline">{% trans %}Logout{% endtrans %}</span>
                      </a>
                    </li>
                    <li>
                      <a href="{{ href('portal', 'usercp') }}" class="navbar-link"
                         title="{% trans %}Controlpanel{% endtrans %}" data-toggle="tooltip" data-placement="bottom">
                        <span class="glyphicon glyphicon-wrench"></span>
                        {# TODO: Custom visible-xs-inline class to work around this issue: https://github.com/twbs/bootstrap/issues/8869 #}
                        <span class="visible-xs-inline">{% trans %}Controlpanel{% endtrans %}</span>
                      </a>
                    </li>
                    <li>
                      <a href="{{ href('portal', 'privmsg') }}" class="navbar-link"
                         title="{% trans %}Messages{% endtrans %}" data-toggle="tooltip" data-placement="bottom">
                        <span class="glyphicon glyphicon-envelope"></span>
                        {# TODO: Custom visible-xs-inline class to work around this issue: https://github.com/twbs/bootstrap/issues/8869 #}
                        <span class="visible-xs-inline">{% trans %}Messages{% endtrans %}</span>
                      </a>
                    </li>
                  {% else %}
                    <li><a href="{{ href('portal', 'login') }}" class="navbar-link"
                           title="{% trans %}Login{% endtrans %}" data-toggle="tooltip" data-placement="bottom">
                      <span class="glyphicon glyphicon-log-in"></span>
                      {# TODO: Custom visible-xs-inline class to work around this issue: https://github.com/twbs/bootstrap/issues/8869 #}
                      <span class="visible-xs-inline">{% trans %}Login{% endtrans %}</span>
                    </a>
                    </li>
                  {% endif %}
                  <li><a href="{{ href('portal', 'search') }}" class="navbar-link"
                         title="{% trans %}Search{% endtrans %}" data-toggle="tooltip" data-placement="bottom">
                    <span class="glyphicon glyphicon-search"></span>
                    {# TODO: Custom visible-xs-inline class to work around this issue: https://github.com/twbs/bootstrap/issues/8869 #}
                    <span class="visible-xs-inline">{% trans %}Search{% endtrans %}</span>
                  </a></li>
                </ul>
              </div>
            </div>
          </nav>
          {#      <div class="container">#}
          {#        <div class="header">#}
          {#          <h1><a href="#">PAGENAME</a>#}
          {#            <small>pagemotto</small>#}
          {#          </h1>#}
          {#        </div>#}
          {#      </div>#}

          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ol class="breadcrumb">
                  {% block breadcrumb %}
                    <li class="active"><em>Breadcrumb not yet implemented for this page</em></li>
                  {% endblock %}
                </ol>
              </div>
            </div>
            {% for message in MESSAGES %}
              <div class="row">
                <div class="col-md-12">
                  {% if message.tags == 'error' %}
                    {% set alert_class = 'danger' %}
                  {% elif message.tags == 'debug' %}
                    {% set alert_class = 'info' %}
                  {% else %}
                    {% set alert_class = message.tags %}
                  {% endif %}
                  <div class="alert alert-{{ alert_class }}">
                    {{ message }}
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="row">
              <div class="col-sm-3">
                <div class="container content_sidebar" id="sidebar">
                  {% block sidebar %}
                  {% endblock %}
                </div>
              </div>
              <div class="col-sm-9 content">
                <div class="container">
                  {% block content %}
                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer id="main-footer">
        <div class="container">
          <ul class="list list-unstyled">
            <li>
              {% trans link='http://inyokaproject.org/' %}Powered by <a href="{{ link }}">Inyoka</a>{% endtrans %}
            </li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ul>
        </div>
      </footer>
      <script src="{{ href('static', 'js', 'jquery-2.0.3.min.js') }}"></script>
      <script src="{{ href('static', 'js', 'bootstrap.min.js') }}"></script>
      <script src="{{ href('static', 'js', 'smoothscrolling.js') }}"></script>
      <script src="{{ href('static', 'js', 'base.js') }}"></script>
      {% block scripts %}
      {% endblock %}
    </body>
  {% endblock %}
</html>