{% extends 'base.html' %}

{% block main %}
  <div id="main-content" role="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
              {% block breadcrumb %}
              <li class="active">
                  <em>Breadcrumb not yet implemented for this page</em>
              </li>
              {% endblock %}
          </ol>
        </div>

        <div class="col-sm-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
