{% macro render_forum(forum, subforums, last_posts) %}
  <tr class="entry category-{{ forum.parent_id }}">

    <td class="icon">
      {%- if forum.get_read_status(REQUEST.user) %}
      <img src="{{ href('static', 'img', 'forum/forum.png') }}" alt="{% trans %}Forum read{% endtrans %}" />
      {%- else %}
      <img src="{{ href('static', 'img', 'forum/forum_unread.png') }}" alt="{% trans %}Unread posts{% endtrans %}" />
      {%- endif %}
    </td>
    <td class="forum" colspan="3">
      <p class="name">
        <a href="{{ forum|url }}" class="title">{{ forum.name|e }}</a>
        {%- if REQUEST.user.can('forum_edit') -%}
          <a href="{{ href('forum', 'forum', forum.slug, 'edit') }}" class="admin_link"><img src="{{ href('static', 'img/ikhaya/category_edit.png') }}" /></a>
        {%- endif -%}
      </p>

      {%- if forum.description %}
        <p class="description">{{ forum.description|e }}</p>
      {%- endif %}
      {%- if subforums %}
        <p class="subforums">{% trans %}Subforums:{% endtrans %}
          {%- for subforum in subforums %}
            {%- if not subforum.get_read_status(REQUEST.user) %}
              <img src="{{ href('static', 'img/forum/subforum_unread.png') }}" alt="{% trans %}Unread posts{% endtrans %}" />
            {%- endif %}
              <a href="{{ subforum|url }}">{{ subforum.name|e }}</a>{% if not loop.last %}, {% endif %}
          {%- endfor %}
        </p>
      {%- endif %}
    </td>
    <td class="last_post">
      {%- if forum.last_post_id in last_posts -%}
        {% set last_post = last_posts[forum.last_post_id] %}
        <a href="{{ last_post|url }}">{{ last_post.pub_date|datetimeformat }}</a><br />
        {%- trans link=last_post.author|url, name=last_post.author|e -%}
          by <a href="{{ link }}">{{ name }}</a>
        {%- endtrans -%}
      {%- else -%}
        ---
      {%- endif %}
    </td>
  </tr>
{% endmacro %}

{% macro topic_icon(topic) -%}
  {% set is_read = topic.get_read_status(USER) -%}
  <img src="
  {{- href('static', 'img', 'forum', 'topic' ) -}}
  {%- if topic.sticky -%}-sticky
  {%- else -%}
    {%- if not is_read %}-new{% endif -%}
    {%- if topic.solved %}-solved{% endif -%}
    {%- if topic.locked %}-locked{% endif -%}
    {%- if topic.hidden %}-hidden{% endif -%}
    {%- if can_moderate and topic.reported %}-reported{% endif -%}
  {%- endif -%}
  .png" alt="
  {%- if not is_read %}{% trans %}unread topic{% endtrans %}{% endif -%}
  {%- if topic.solved %}{% trans %}solved topic{% endtrans %}{% endif -%}
  {%- if topic.locked %}{% trans %}locked topic{% endtrans %}{% endif -%}
  {%- if topic.hidden %}{% trans %}hidden topic{% endtrans %}{% endif -%}
  {%- if can_moderate and topic.reported %}{% trans %}reported topic{% endtrans %}{% endif -%}
  " title="
  {%- if not is_read %}{% trans %}unread topic{% endtrans %}{% endif -%}
  {%- if topic.solved %}{% trans %}solved topic{% endtrans %}{% endif -%}
  {%- if topic.locked %}{% trans %}locked topic{% endtrans %}{% endif -%}
  {%- if topic.hidden %}{% trans %}hidden topic{% endtrans %}{% endif -%}
  {%- if can_moderate and topic.reported %}{% trans %}reported topic{% endtrans %}{% endif -%}
  " />
{%- endmacro %}

{% macro render_article_list(discussions) %}
  {%- for article in discussions %}
    <strong><a href="{{ article|url }}">{{ article.name|e }}</a></strong>
  {%- if not loop.last %},{% endif %}
  {%- endfor -%}
{% endmacro %}
